

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: var(--container-background-color);
}

.chat-container {
    max-width: 1000px;
    min-height: 60vh;
    margin: 50px auto;
    background: var(--container-background-color);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    height: 60vh;
    display: flex;
    flex-direction: column;
}

.chat-header {
    padding: 20px;
    background: var(--message-color);
    color: var(--text-color);
    border-radius: 10px 10px 0 0;
}

.chat-messages {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.message {
    margin-bottom: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    max-width: 70%;
}

.user-message {
    background: var(--message-color);
    margin-left: auto;
}

.llm-message {
    background: var(--box-color);
}

.input-container {
    padding: 20px;
    border-top: 1px solid var(--border-color);
    display: flex;
    gap: 10px;
}

#message-input {
    flex: 1;
    padding: 12px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-size: 16px;
}

#send-button {
    padding: 6px 12px;
    width: 40px;
    height: 40px;
    background: var(--message-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.send-button {
    display: flex;
    align-items: center;
}


button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.loading {
    display: none;
    text-align: center;
    padding: 10px;
    color: var(--box-color);
}