/* ----- theme backgrounds ----- */

/* .theme-bg {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-position: center;
    background-size: cover;
}

.jelly-fish-theme {
    background-image: url('/StoreCarouselAds/jelly-fish.jpg');
}

.whales-theme {
    background-image: url('/StoreCarouselAds/whales.jpg');
}

.caramel-theme {
    background-image: url('/StoreCarouselAds/caramel.jpg');
} */


/* ----------------------------- */


.dashboard-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px !important;
    margin-bottom: 70px !important;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-color) !important;
    width: max(80%, 600px);
}

@media (max-width: 1000px) {
    .dashboard-wrapper {
        width: 100%;
        height: 100%; 
        top: 0;
        left: 0;
        transform: none;
        position: relative;
    }
}

@media (max-width: 800px) {
    .user-name, .user-email, .userQuote {
        display: none;
    }
}

.panel {
    width: 80%; 
    max-width: 2160px;
    border-radius: 15px;
}

.dash-top-panel {
    display: flex;
    flex-direction: row;
    height: max(30vh, 300px);
    padding: 20px;
    background-color: var(--primary-color);
    backdrop-filter: blur(8px);
    position: relative;
    width: 100%; 
    box-shadow: 0px 0px 15px var(--secondary-color);
}

.dashboard-bottom-panel {
    margin-bottom: 50px !important;
}


.userImage-CoinCount-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 400px;
}

.userInfo {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.userText {
    font-size: 1.5em;
    font-family: var(--default-cute-font);
    padding: 20px;
    margin-right: 20vw;
    border-radius: 10px;
}

.userInfoContainer h1, .userInfoContainer h2 {
    margin: 5px 0;
}

.userQuote {
    font-family: var(--default-cursive-font);
    margin-top: 30px;
    padding: 20px;
    margin-right: 20vw;
    border-radius: 10px;
}


.achievementsContainer {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.badge {
    display: block;
    background-color: var(--primary-color);
    text-align: center;
    height: 30px;
    padding: 5px 10px;
    border-radius: 5px;
}

.dash-bottom-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 55vh;
    margin: 30px;  
    padding: 30px;
    width: 100%;
    border: 1px solid white;
}


.logoutButton {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    z-index: 1000;
}

.logoutButton span {
    padding-right: 10px;
}

.logoutButton:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
    box-shadow: 0px 0px 15px var(--secondary-color);
    transition: 0.3s ease-in-out;
}


