.emoji-memo-game-canvas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.emoji-memo-game-heading {
    font-size: 3em;
    margin-top: 30px;
    margin-bottom: 50px;
}

.emoji-memo-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.emoji-grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 5px;
    margin-top: 10px;
}

.emoji-button {
    display: flex !important; /* Ensure flex for alignment */
    justify-content: center; /* Center emojis horizontally */
    align-items: center; /* Center emojis vertically */
    height: 2.5em !important; /* Make square dimensions */
    width: 2.5em !important; /* Width matches height */
    font-size: 3em !important; /* Adjust emoji size */
    border: 5px solid var(--secondary-color); /* Add border */
    background-color: transparent; /* Transparent background */
    cursor: pointer !important; /* Pointer cursor for interactivity */
    margin: 5px !important; /* Space between squares */
    box-sizing: border-box !important; /* Include padding/border in size */
    border-radius: 10px !important; /* Optional: rounded corners */
    transition: background-color 0.3s !important; /* Smooth hover effect */
}

.emoji-button:hover {
    background-color: var(--secondary-color) !important; /* Highlight on hover */
}


.emoji-to-remember {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    font-size: 6em; /* Increase size for prominence */
    text-align: center;
    border: none;
    background-color: transparent;
    margin: 20px 0; /* Add margin to create space */
    z-index: 1; /* Ensure emoji stays on top */
}


.emoji-memo-info, .coin-info {
    color: var(--secondary-color);
    margin-top: 20px;
    margin-bottom: 20px;
}

.coin-info span{
    font-weight: bold;
    color: var(--accent-color);
}

.feedback {
  font-size: 1.5em;
  margin-top: 10px;
}

.heart {
    color: var(--accent-color);
    padding: 5px;
}


.level-selector-emoji-memo {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.level-selector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.level-item {
    margin-top: 20px; /* Add space above the button */
    padding: 10px 20px;
    font-size: 1.2em;
    border: 2px solid var(--secondary-color);
    background-color: transparent;
    color: var(--secondary-color);
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.level-item:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
