.game-main-body {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    min-width: 1000px;
    height: 100%;
}

.game-board {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid 0px;
    width: 95%; 
    min-width: 600px;
    height: 100%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.game-description, .game-instruction {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    min-width:300px;
    width: 20%;
    height: 90%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    box-shadow: 0 0 15px var(--secondary-color);
}

.game-description h1, .game-instruction h1 {
    margin: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--secondary-color);
}

.game-canvas {
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 100%;
    min-width: 600px;
    min-height: 600px;
}

.game-window {
    position: relative;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
    background-color: var(--background-color);
    border: solid;
}

@media (max-width: 1500px) {
    .previous-attempts, .helpful-tips {
        display: none;
    }

    .game-main-body {
        justify-content: center; 
    }

    .game-board {
        width: 100%; 
        min-width: 0; 
    }
}

@media (max-width: 1250px) {
    .game-description, .game-instruction {
        display: none;
    }
}

.top-three-list-item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-bottom: 5px;
    padding: 5px;
    box-shadow: 0 0 10px var(--primary-color);
}

.top-three-rank-number {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    width: 30px;
    height: 30px;
    margin: 20px;
    aspect-ratio: 1 / 1;
}



.top-three-rank-username {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--accent-color);
    margin-right: 10px;
}

.top-three-rank-user-score {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--secondary-color);
}



.prev-attempt-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
}


.prev-attempt-time {
    background-color: var(--accent-color);
    color: var(--primary-color);
    padding: 0 15px 0 15px;
}

.prev-attempt-score {
    font-size: 1.2rem;
    font-weight: bold;
}