.profile-img-upload-button {
    position: relative;
    border: none;
    background: none;
    padding: 0;
}

.profile-img-upload-button img {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.submitImageButton {
    width: 80px;
    height: 30px;
    flex-direction: column;
    align-items: center;
}


.profile-img-upload-button .image-upload {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 20px;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.profile-img-upload-button:hover .image-upload {
    display: flex;
    flex-direction: column;
    opacity: 1;
    visibility: visible;
}

.profile-img {
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
    border: 2px solid var(--secondary-color);
    box-shadow: 5px 5px 18px rgba(0, 0, 0, 0.5);
}

.image-uploader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 70px;
    text-align: left;
}