:root {
    --primary-color: #283593; /* Indigo */
    --secondary-color: #1565c0; /* Vibrant Blue */
    --accent-color: #ffca28; /* Amber */
    --background-color: #f5f5f5; /* Light Gray */
    --text-color: #212121; /* Dark Gray */
    --container-background-color: #e0e0e0; /* Medium Gray */
    --secondary-text-color: #ffffff; /* White */
    --tertiary-color: #616ab0; /* Purple */
    --box-color: #424242; /* Dark Gray */
}

.dark-theme {
    --primary-color: #1e1e1e; /* Almost Black */
    --secondary-color: #4a90e2; /* Soft Blue */
    --background-color: #2d2d2d; /* Dark Gray */
    --text-color: #e0e0e0; /* Light Gray */
    --container-background-color: #3a3a3a; /* Medium Dark Gray */
    --secondary-text-color: #ffffff; /* White */
    --box-color: #333333; /* Dark Gray */
}

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    overflow: hidden;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--container-background-color);
    color: var(--text-color);
    text-align: center;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: var(--secondary-color);
}

button {
    background-color: var(--tertiary-color);
    color: var(--secondary-text-color);
    font-size: 1em;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}





