/* Container for the entire login page */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:300px;
    height: 100vh; 
    background-color: var(--primary-color);
}


.login-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    padding: 20px; 
    background-color: var(--primary-color); 
    box-shadow: 0 4px 16px var(--secondary-color);
}

.login-content h2 {
    color: var(--accent-color);
}


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-container div{
    margin: 20px;
    width: 100%;
}

input, button {
    width: 300px;
    height: 50px;
    border-radius: 5px;
    border-style: none;
    padding: 10px;
}

.login-button {
    margin: 10px;
    color: var(--accent-color);
    border: 2px solid var(--accent-color);
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
}

.login-button:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);
    transition: 0.3s ease;
}

.assist-box {
    margin-bottom: 3px;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.assist-box span:hover {
    cursor: pointer;
    color: var(--accent-color);
    transition: 0.3s ease;
}
