.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--container-background-color);
    color: var(--text-color);
    position: fixed;
    top: 0;
    width: 100%;
    min-width:1000px;
    height: 150px;
    z-index: 1000; /* Ensure the navbar stays on top */
}

.logo-div {
    font-size: 3rem;
    font-weight: bold;
}

.navbar-item-list {
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    color: var(--secondary-color);
    width: 100%;
}
