@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

.navbar {
    background-color: var(--primary-color);
    color: --secondary-color !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    min-height: 70px; 
}

.navbar-logo-fixed {
    position: absolute;
    left: 0;
}

.navbar-item-list-container {
    margin-left: 130px;
}

.navbar-toggler {
    position: absolute;
    right: 100px;
    width: 50px;
    height: 50px;
    border: none !important;
    color: --secondary-color !important;
    transition: color 0.3s ease;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    color: var(--accent-color) !important;
}

.navbar-darkmode-container {
    position: absolute;
    right: 5px;
    display: flex;
    justify-content: space-between;
    gap: 1px;
    align-items: center;
    padding: 1rem;
}


.theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 1rem;
}

.theme-toggle:hover {
    color: var(--secondary-color);
}

.theme-toggle-button {
    position: relative;
    width: 50px;
    height: 25px;
    background-color: var(--secondary-color);
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.theme-toggle-button::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 21px;
    height: 21px;
    background-color: var(--accent-color);
    border-radius: 50%;
    transition: transform 0.5s ease;
}

.theme-toggle-button.dark-mode::before {
    transform: translateX(25px);
}

.dark-mode-icon {
    width: 25px;
    height: 25px;
    transition: opacity 0.7s ease;
}

.dark-mode-icon.hidden {
    opacity: 0;
}

.snake-logo {
    font-family: 'Patrick Hand', sans-serif; 
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    background: #C05384;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    padding: 1rem;
}

.snake-logo2 {
    background: linear-gradient(90deg, #a8e6cf, #dcedc1, #ffd3b6, #ffaaa5, #ff8b94);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    padding: 1rem;
}

.navbar-item-list {
    display: flex;
    justify-content: flex-end; /* Center the navbar items */
    font-weight: bold;
    color: var(--secondary-color);
    padding-right: 2rem;
    gap: 1.5rem;
}

.navbar-item-list a {
    font-weight: bold;
    color: var(--secondary-color);
    text-decoration: none;
    transition: color 0.5s ease;
}

.navbar-item-list a:hover {
   
    
    color: var(--accent-color);
}

.navbar-item-list a.active {
    color: var(--accent-color) !important; 
    border-bottom: 2px solid var(--accent-color);
}

.send-button {
    color: var(--secondary-color);
    transition: color 0.5s ease;
}

.dark-mode .send-button {
    color: var(--text-color);
}

.audio-toggle-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: inherit;
}
  
.audio-toggle-button:hover {
    color: #C05384;
}
  