:root {
    --wordgame-default: #121213;
    --wordgame-empty: #3a3a3c;
    --wordgame-wrong-one: #FF9A98;
    --wordgame-right-one: #83bd83;
}

.word-game-canvas {
    background-color: var(--primary-color);
}

.word-game-heading {
    color: var(--secondary-color);
    font-size: 3.5rem !important;
    margin-bottom: 1rem;
}

.word-game-container {
    display: grid;
    place-items: center;
    width: 100%;
    height: 600px;
}

.word-game-grid {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(5, auto);
}

.word-game-box {
    width: 55px;
    height: 55px;
    border: 1px solid var(--secondary-color);
    margin: 5px;
    color: var(--secondary-color);
    text-transform: uppercase;
    display: grid;
    place-items: center;
    font-family: 'Verdana', sans-serif;
    font-size: 2.4rem;
}

.word-game-box.wrong-empty {
    background: var(--wordgame-empty);
}

.word-game-box.wrong-placement {
    background: var(--accent-color);
}

.word-game-box.right-placement {
    background: var(--primary-color);
}

.animated {
    animation: tile-flip 0.4s ease;
}

@keyframes tile-flip {
    0% { transform: scale(1); }
    30% { transform: scaleY(0.5); }
    60% { transform: scaleY(1.2); }
    100% { transform: scale(1); }
}


.player-info {
    font-size: 1.2rem;
    flex: 1;
    width: 100%;
    align-items: center;
    padding-bottom: 0.5rem;
    color: var(--secondary-color);
}

.player-info span {
    margin-left: 5px;
    color: var(--accent-color);
    font-weight: bold;
}

.coin-info {
    font-size: 1.2rem;
    flex: 1;
    width: 100%;
    align-items: center;
    padding-bottom: 1rem;
    color: var(--secondary-color);
}

.coin-info span {
    margin-left: 5px;
    color: var(--accent-color);
    font-weight: bold;
}


.win-word-game {
    font-size: 1rem !important;
    color: var(--secondary-color);
}

.start-word-game-button {
    margin-top: 2rem;
}